<footer>
  <ul>
    <li><small><a href="/about">About</a></small></li>
    <li><small><a href="/services">Services</a></small></li>
    <li><small><a href="/work">Work</a></small></li>
    <li><small><a href="/contact">Contact</a></small></li>
  </ul>
  <small>
    {{ metadata.company }} 2022<br>
    Calverley, Pudsey, Leeds LS28
  </small>
</footer>
